body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.caption {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (min-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
